.search {
  position: relative;
  top: 10px;
  margin-left: 10px;
}
.logo {
  position: relative;
  top: 10px;
  margin-left: 10px;
}
.input {
  padding: 5px;
  font-size: 21px;
}
.go {
  padding: 5px;
  font-size: 21px;
  width: 60px;
}
.search_results {
  margin-left: 10px;
}


